/*font*/
$font-roboto: 'Roboto', sans-serif;
$font-enso: 'Enso', sans-serif;

/*color*/
$light-black: #283238; 
$light-blue: #8BC34A;
$light-light-blue: #AED581;
$white: #FFFFFF;
$pale-black: #444444;
$dark-blue: #7CB342; 
$dark-white: #ECEFF1;
$dark-gray: #39474E;
$dark-dark-white: #D0D8DC;

